header {
    position: fixed;
    width: 100vw;
    z-index: 3;
}

main {
    min-height: 85vh;
    min-width: 95vw;
    background-color: #a9a9a97e;
    background-image: linear-gradient(#a9a9a97e, #8d8c8c7e)
}

.navbar .container-fluid {
    align-items: flex-end;
    justify-content: space-between;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* LOGO GENERAL */
.tamaño-logo:hover {
    transform: rotate(5deg);
}

.tamaño-logo {
    width: 100px;
}

/* Bootstrap */
.nav-link {
    font-family: monospace;
    padding: 0;
    margin: auto 40px;
}

.nav-link:hover {
    font-weight: bold;
    font-size: 17px;
}

/* BT cartel index */
.card-cartel {
    background-color: rgb(122, 122, 126);
    color: rgb(226, 226, 226);
    font-size: 20px;
    font-weight: 600;
}

.cartel-body {
    background-color: #a9a9a97e;
}

.seg-parrafo {
    font-family: monospace;
}

.card-footer {
    background-color: rgb(122, 122, 126);
    font-size: medium;
    height: 40px;
}

.footer-cartel {
    font-size: 14px;
    color: rgb(202, 200, 200);
}

.cartel3 {
    width: 50vw;

}

/* index */

.container-cartel-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-index {
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(92, 91, 91);
    text-align: center;
    font-family: monospace;
}

.texto-index {
    font-size: 18px;
    font-weight: normal;
    margin: 40px 40px 0px 40px;
    text-align: center;
    /* border: 0.5px solid rgba(0, 0, 0, 0.363); */
    padding: 8px;
    margin-bottom: 40px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.container-list {
    display: flex;
}

.footer-link {
    text-decoration: none;
    margin: 30px;
    color: black;
    font-family: monospace;
    color: slategray;
    font-size: 13px;
}

.container-list {
    list-style: none;
    margin-top: 15px;
    margin-right: 30px;
}

.footer-link:hover {
    font-size: 17px;
    font-weight: bold;
    color: rgb(58, 61, 65);
}

/* CARRUSEL */

#carouselExampleIndicators {
    padding-top: 100px;
}


/* Seccion Producto */

.titulo-producto {
    text-align: left;
    color: slategrey;
    font-size: 18px;
    margin-top: 150px;
    animation-name: animacionproducto;
    animation-duration: 2s;
    position: relative;
    animation-delay: 2.5s;
}

@keyframes animacionproducto {
    0% {
        color: grey;
        left: 0;
    }

    80% {
        color: grey;
        left: 180px;
    }
}

/* BT CARDS */

.card-img-top:hover {
    transform: scale(1.5) translate(1px, 1px);
    transition: 0.3s;
    z-index: 1;
}

.container-card1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container-titulo {
    padding: 20px;
    padding-bottom: 30px;
}


.card-title {
    font-family: monospace;
    font-weight: 700;
}

.btn-primary {
    background-color: rgb(24, 24, 105);
    font-family: monospace;
}

.card-text {
    font-family: monospace;
}

.card {
    margin: 20px;
}

/* SECCION FAQ */
.accordion {
    padding-top: 150px;
    margin: 0px 100px;
    padding-bottom: 21px;
}

.tituloFaq {
    font-family: monospace;
    margin: 20px 0px 0px 115px;
    font-size: 20px;
    color: #696969;
}

/* SECCION CONTACTO */
.formulario {
    padding-top: 150px;
    padding-bottom: 30px;
    text-align: center;
    font-family: monospace;
}

input:hover {
    background-color: rgba(194, 193, 193, 0.568);
    transition: 0.3s;
    color: white;
}

input:focus {
    background-color: rgba(194, 193, 193, 0.568);
    transition: 0.3s;
    color: white;
}

/* SECCION NOSOTROS */

.container-nosotros {
    padding-top: 200px;
    margin: 0px 40px;
    text-align: center;
}

.subTituloNosotros1 {
    margin-top: 100px;
}

.subTituloNosotros {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 100px;
}

.txtHorarioDeA {
    font-size: 17px;
    font-weight: normal;
}

.txt-nosotros {
    margin: 0px 50px;
}

.contenidoHorarioDeA {
    padding: 10px;
}

.wpp {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 840px;
    left: 96%;
    z-index: 2;
}

/* MEDIA QUERYS */
@media (max-width: 710px) {
    .container-card1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #carouselExampleIndicators {
        padding-top: 105px;
    }

    .card-img-top:hover {
        transform: scale(1) translate(0px, 0px);
    }

    .nav-link {
        margin: 0px 0px;
    }

    .navbar .container-fluid {
        align-items: center;
    }

    .wpp {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: fixed;
        top: 840px;
        left: 70%;
        z-index: 2;
    }
}

@media (max-width: 990px) {
    .nav-link {
        margin: 8px 0px 0px 0px;
    }

    .navbar .container-fluid {
        align-items: center;
    }

    .wpp {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: fixed;
        top: 840px;
        left: 90%;
        z-index: 2;
    }
}

@media (max-width: 430px) {
    .footer-cartel {
        font-size: 11px;
    }
}