@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace; }

main .card {
  font-size: large; }

header {
  position: fixed;
  width: 100vw;
  z-index: 3; }
  header .tamaño-logo {
    width: 90px; }
    header .tamaño-logo:hover {
      transform: rotate(5deg); }
  header .colorFondo {
    background-color: #FBFBFB; }
  header .header__navlink {
    font-size: 15px; }
    header .header__navlink:hover {
      font-weight: bold; }

main {
  background-color: #586F7C; }
  main .carousel-inner {
    padding-top: 92px; }
  main .botonBanner {
    padding-top: 100px; }
  main .main__containertitulo {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-align: center;
    margin: 20px 20px 0px;
    padding: 20px;
    color: #FBFBFB; }
  main .main__titulo {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600; }
  main .main__texto {
    margin-top: 10px;
    color: #B8DBD9;
    font-size: large; }
  main .main__container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 30px 0px; }
  main .ti {
    color: #FBFBFB;
    font-weight: 700;
    font-size: 20px; }
  main .main__titulo2 {
    color: #FBFBFB;
    margin: 10px 15px 15px;
    font-weight: 700; }
  main .main__txt2 {
    color: #B8DBD9;
    font-size: large; }
  main .btn {
    background-color: #2D2E2E;
    width: 8vw;
    margin-bottom: 25px;
    margin-top: 10px; }
  main .main__subtitulo {
    background-color: #2D2E2E;
    border-radius: 50%;
    color: #B8DBD9;
    padding: 10px;
    margin-top: 30px; }
  main strong {
    color: #2D2E2E;
    font-size: 15px; }

footer {
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  footer .tamaño-logo {
    width: 90px;
    margin: 10px; }
    footer .tamaño-logo:hover {
      transform: rotate(5deg); }
  footer .footer__ul {
    display: flex;
    width: 300px;
    padding-left: 0;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px 0px 5px; }
  footer .footer__a {
    color: #2D2E2E;
    text-decoration: none; }
    footer .footer__a:hover {
      font-weight: bold; }

main .container-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 150px; }

main .card {
  margin-bottom: 50px; }

main .btn-primary {
  width: 25vw;
  font-size: 13px;
  font-weight: 600; }

main .card-text {
  text-align: start;
  margin-top: 20px; }

main .card-body {
  padding-bottom: 0px; }

main .card-title {
  font-size: 17px;
  font-weight: 600; }

.main__faq {
  height: 90vh; }
  .main__faq .accordion {
    padding-top: 50px;
    margin: 100px 100px;
    padding-bottom: 40px; }
  .main__faq .tituloFaq {
    text-align: center;
    margin-top: 30px;
    color: #FBFBFB; }

.main__nosotros {
  height: 90vh; }
  .main__nosotros .container-nosotros {
    padding-top: 130px;
    margin: 0px 40px;
    text-align: center; }
  .main__nosotros .subTituloNosotros1 {
    margin-top: 50px; }
  .main__nosotros .subTituloNosotros {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 50px; }
  .main__nosotros .txtHorarioDeA {
    font-size: 17px;
    font-weight: normal; }
  .main__nosotros .txt-nosotros {
    margin: 0px 50px; }
  .main__nosotros .contenidoHorarioDeA {
    padding: 10px; }

main .formulario {
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
  font-family: monospace; }

main input:hover {
  background-color: rgba(194, 193, 193, 0.568);
  transition: 0.3s;
  color: white; }

main input:focus {
  background-color: rgba(194, 193, 193, 0.568);
  transition: 0.3s;
  color: white; }
