main{
    .formulario {
        padding-bottom: 30px;
        text-align: center;
        font-family: monospace;
    }
    input:hover {
        background-color: rgba(194, 193, 193, 0.568);
        transition: 0.3s;
        color: white;
    }
    
    input:focus {
        background-color: rgba(194, 193, 193, 0.568);
        transition: 0.3s;
        color: white;
    }
    ol.breadcrumbContacto{
        list-style: none;
        display: flex;
        padding: 120px 20px 50px;
        margin: 0px 0px;
    }
    .breadcrumb2{
        margin: 0px 3px;
    }
}