.main__faq{
    height: auto;
    .accordion{
        display: flex;
        flex-direction: column;
        margin: 30px 80px 0px;   
        padding-bottom: 60px;
    }
    .tituloFaq{
        text-align: center;
        color: $colorHeaderFooter;
    }
    .accordion-button{
        padding: 20px;
    }
}