.main__nosotros{
    height: 90vh;
    .container-nosotros {
        padding-top: 130px;
        margin: 0px 40px;
        text-align: center;
    }
    .subTituloNosotros1 {
        margin-top: 50px;
    }
    .subTituloNosotros {
        font-size: 17px;
        font-weight: normal;
        margin-bottom: 50px;
    }
    .txtHorarioDeA {
        font-size: 17px;
        font-weight: normal;
    }
    
    .txt-nosotros {
        margin: 0px 50px;
    }
    
    .contenidoHorarioDeA {
        padding: 10px;
    }
}