.main__nosotros{
    height: 90vh auto;
    .container-nosotros {
        padding-top: 50px;
        margin: 0px 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    .subTituloNosotros1 {
        margin-top: 150px;
    }
    .subTituloNosotros {
        font-size: 17px;
        font-weight: normal;
        margin-bottom: 50px;
    }
    .txtHorarioDeA {
        font-size: 17px;
        font-weight: normal;
    }
    
    .txt-nosotros {
        margin: 0px 50px;
        font-size: 15px;
    }
    
    .contenidoHorarioDeA {
        padding: 10px;
        margin-top: 140px;
    }
    .breadcrumb{
        padding-top: 120px;
    }
}